<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>

<div class="container-md text-left" style=" width: 100%">
    <h2 class="card-title">Lista de movimentações</h2>
</div>

<div class="container-md text-left border border-dark" id="myGrid" name="myGrid" style="width: 100%">

    <div class="row">
        <div class="col-sm border border-dark">
            Número Conteiner
        </div>
        <div class="col-sm border border-dark">
            Tipo Movimentação
        </div>
        <div class="col-sm border border-dark">
            Data Inicio
        </div>
        <div class="col-sm border border-dark">
            Data Fim
        </div>
        <div class="col-sm border border-dark">
            Editar
        </div>
        <div class="col-sm border border-dark">
            Excluir
        </div>
    </div>
</div>
<div class="align-content-center">
    <a href="../../index">
        Voltar para o inicio
    </a>
</div>
<script>

$(window).ready(getmovimentacoes);

let grid = $("#myGrid");

function getmovimentacoes() {
    let baseUrlLocal = `${window.location.origin}/${window.location.pathname.split("/")[1]}`;
    let url = baseUrlLocal;
    let method = "GET"

    $.ajax({
        type: method,
        url: url,
        dataType: "JSON",

        success: function (data) {

            if (data.length > 0) {
                console.log("imprimindo o data ");
                console.log(data);
                console.log(data[0]);
                movimentacaoList = data;

                for (let i = 0; i < movimentacaoList.length; i++) {
                    gridMovimentacaoList(movimentacaoList[i]);
                }

            }
        }
    });
}

function gridMovimentacaoList(movimentacao) {

    console.log("ceghuuuei")


    grid.append('<div class="row">\n' +
        '        <div class="col-sm border border-dark" >\n' +
        movimentacao.conteiner.numeroConteiner +
        '        </div>\n' +
        '        <div class="col-sm border border-dark">\n' +
        movimentacao.tipoMovimentacao +
        '        </div>\n' +
        '        <div class="col-sm border border-dark">\n' +
        movimentacao.dataInicio +
        '        </div>\n' +
        '        <div class="col-sm border border-dark">\n' +
        movimentacao.dataFim +
        '        </div>\n' +
        '        <div class="col-sm border border-dark">\n' +
        '            <a href="../movimentacao/editar/'+ movimentacao.movimentacaoId +'" >\n' +
        '                    Edit\n' +
        '            </a>' +
        '        </div>\n' +
        '        <div class="col-sm border border-dark">\n' +
        '            <button type="button" class="btn btn-primary" name="excluir" id="excluir" onclick="excluir('+ movimentacao.movimentacaoId +')" >\n' +
        '                    Excluir\n' +
        '            </button>' +
        '        </div>\n' +
        '    </div>');

}

function excluir(movimentacao) {
    let baseUrlLocal = `${window.location.origin}`;
    let url = baseUrlLocal + "/movimentacao/" + movimentacao;
    let method = "Delete"

    $.ajax({
        type: method,
        url: url,
        dataType: "JSON",

        success: function (data) {
            location.reload(true);

        }
    });
}

</script>

</body>
</html>