<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>


<div class="container-md text-left border border-dark" style="width: 700px">
  <div class="container-md text-left" style=" width: 100%">
    <h4 class="card-title">Criar</h4>
  </div>
  <div class="container-md" style=" width: 100%">
    <h2 class="card-title">Movimentação</h2>
  </div>

  <div class="container-md" style="width: 100%">
    <form id="formRegister" name="formRegister">
      <div class="alert alert-danger" role="alert" id="errorMessage" name="errorMessage" style="display: none">
      </div>
      <div class="alert" role="alert" id="msg" name="msg" style="display: none; color: red">
        Criado com sucesso
      </div>
      <div class="row">
        <div class="mb-3 row">
          <label for="conteinerId">Número Conteiner:</label>
          <div>
            <select id="conteinerId" name="conteinerId">
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="tipoMovimentacao">Tipo:</label>
          <div>
            <select id="tipoMovimentacao" name="tipoMovimentacao">
              <option selected value='Embarque'>Embarque</option>
              <option value='Descarga'>Descarga</option>
              <option value='Gate in'>Gate in</option>
              <option value='Gate out'>Gate out</option>
              <option value='Reposicionamento'>Reposicionamento</option>
              <option value='Pesagem'>Pesagem</option>
              <option value='Scanner'>Scanner</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="dataInicio">Data Inicio</label>
          <div>
            <input type="date" class="form-control" id="dataInicio" name="dataInicio">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="dataFim">Data fim</label>
          <div>
            <input type="date" class="form-control" id="dataFim" name="dataFim">
          </div>
        </div>
      </div>
      <div class="align-content-center">
        <button type="button" class="btn btn-primary" name="save" id="save" onclick="create()">
          Criar
        </button>
      </div>
      <div class="align-content-center">
        <a href="../../index">
          Voltar para o inicio
        </a>
      </div>
    </form>
  </div>
</div>
<script>
    let baseUrlLocal = `${window.location.origin}/${window.location.pathname.split("/")[1]}`;
    let error = $("#errorMessage");
    let success = $("#msg");
    let dados;
    let select = document.getElementById("conteinerId");


    $(document).ready(function () {
        success.css("display", "none");

        let url = `${window.location.origin}` + "/conteiner";
        let method = "GET"

        $.ajax({
            type: method,
            url: url,
            dataType: "JSON",

            success: function (data, textStatus, xhr) {
                dados = data;
                for(i=0; i< dados.length; i++){
                    option = new Option(dados[i].numeroConteiner, dados[i].conteinerId);
                    select.options[select.options.length] = option;
                }


            }
        });


    });

    function create() {
         let datainicio = document.getElementById('dataInicio').value
         let dataFim = document.getElementById('dataFim').value

         if (datainicio == "" || dataFim == "" || datainicio > dataFim ) {
            error.css("display", "block");
            error.text("Data fim deve ser maior que data inicio")
         }
         else{

                let url = baseUrlLocal;
                let data = JSON.stringify( { "conteinerId": $('#conteinerId').val(), "tipoMovimentacao": $('#tipoMovimentacao').val(), "dataInicio": $('#dataInicio').val(), "dataFim": $('#dataFim').val()} );
                let method = "POST";

                $.ajax({
                    type: method,
                    url: url,
                    dataType: "JSON",
                    contentType: 'application/json',
                    data: data,

                    success: function (data) {


                        if (data.status === "success") {
                            error.text("");
                            error.css("display", "none");
                            success.css("display", "block");
                        } else if (data.status === "invalid") {
                            error.text("Erro");
                            error.css("display", "block");
                            success.css("display", "none");
                        }
                    }
                });
         }

   }


</script>
</body>
</html>